body{
    background-color: rgb(217, 217, 217);
}

.fotologo{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.logoimg{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.genero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}
.genero li{
    list-style: none;
    height: 22px;
    width: 135;
    padding: 10px;
    background-color: gray;
    text-align: center;
    text-decoration: none;
}
.genero li a{
    color: white;
    text-decoration: none;
}
.cajapadre{
    display: flex;
}
.canciones{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}


.artista{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}
.cajapadre2{
    display: flex;
}
.cajapadre3{
    display: flex;
}
.album{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}