body{
    background-color: rgb(217, 217, 217);
}

/*MAIN*/
.fotologo{
    width: 150px;
    height: 150px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.logoimg{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.genero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}
.genero li{
    list-style: none;
    height: 22px;
    width: 135;
    padding: 10px;
    background-color: gray;
    text-align: center;
    text-decoration: none;
}
.genero li a{
    color: white;
    text-decoration: none;
}
.artista{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}
.cajapadre2{
    display: flex;
    flex-wrap: wrap;
}

.cajapadre3{
    display: flex;
    flex-wrap: wrap;
}
.album{
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin-top: 30px;
}
.cajapadre1{
    display: flex;
    flex-wrap: wrap;
}
.cancion{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
}
/*DETALLE GENERO*/
.generoart{
    display: flex;
    flex-wrap: wrap;
}
.artistagenero{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 30px;
}

.info{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
    text-align: right;
}
.h1{
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}
.h1genero{ 
    font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.h2album{ 
    font-family: 'Montserrat', sans-serif;
}
.ol{
    font-family: 'Montserrat', sans-serif;
    
}
.buscador{ 
     font-family: 'Montserrat', sans-serif;
    }
.indexul{ 
    font-family: 'Montserrat', sans-serif;
}
.cajapadre1{
     font-family: 'Montserrat', sans-serif;
    }
.cajapadre2{
     font-family: 'Montserrat', sans-serif;
    }
.cajapadre3{
     font-family: 'Montserrat', sans-serif;
    }
.h3{ font-family: 'Montserrat', sans-serif;}
.p{
     font-family: 'Montserrat', sans-serif;
    }
.h2{
    font-family: 'Montserrat', sans-serif;
}
.palbum{
    font-family: 'Montserrat', sans-serif;
}
.detalle{
font-family: 'Montserrat', sans-serif;
color: black;
text-decoration: none;}

.ul{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}
.sectionalbum{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
     box-sizing: border-box;
     text-align: center;
     text-align: justify;
    }

.a{
    text-decoration: none;
    color: red;

}
.generojs{
    flex-direction: row;
}
.detailjs{
    flex-direction: row;

}
 


    /*MOBILE*/
    @media screen and (max-width:(845px) {
        .album{
            width: 100%;
        
        }
        .h2album{ 
            font-family: 'Montserrat', sans-serif;
        }
        .sectionalbum{
            display: flex;
           flex-direction: row;
           justify-content: space-around;
            box-sizing: border-box;
            text-align: center;
            text-align: justify;
           }
           .palbum{
            font-family: 'Montserrat', sans-serif;
        }
       
    }
    .footer{
        font-family: 'Montserrat', sans-serif;
        justify-content: center;
        display: flex;
        
    }